<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNet.Contracts" version="1.10.20606.1" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net461" />
  <package id="WriteableBitmapEx" version="1.5.0.0" targetFramework="net461" />
</packages>